/*
  ----------------
  ユーティリティー
  ----------------
*/

.container {
  @include container;
}

.clearfix {
  @include clearfix;
}

/*
  ----------------
  レスポンシブ用のユティリティー
  ----------------
*/

.sp-only {
  @media #{$pc} {
    display: none !important;
  }
}


.pc-only {
  @media #{$sp} {
    display: none !important;
  }
}


header {
  .sp-only {
    @media #{$pc} {
      display: none !important;
    }
    @media #{$tab} {
      display: block !important;
    }
  }
  
  
  .pc-only {
    @media #{$tab} {
      display: none !important;
    }
  }
}

