/*
  ----------------
  ボタン
  ----------------
*/
.more,button[type="submit"] {
	
}

// 電話番号
.tel {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  padding-left: 35px;
  position: relative;
  @media #{$sp} {
    font-size: 20px;
    padding-left: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 33px;
    background: url('../img/common/tel.svg') 50% / contain no-repeat;
    @media #{$sp} {
      width: 15px;
      height: 25px;
    }
  } 
}

// ボタン
.more {
	display: block;
  max-width: 560px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 17px;
	background: #AD033B;
	position: relative;
  border-radius: 50px;
  margin: 0 auto;
  border: 3px solid #AD033B;
	@media #{$sp} {
		font-size: 14px;
    padding: 13px;
    max-width: 85%;
    border: 2px solid #AD033B;
	}
  &:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 30px;
    width: 8px;
    height: 8px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(45deg);
    transition: all .3s;
    @media #{$sp} {
      right: 20px;
    }
	}
  &:hover {
    opacity: 1;
    background: #fff;
    color: #AD033B;
    &::before {
      border-top: solid 3px #AD033B;
      border-right: solid 3px #AD033B;
    }
  }
  // サムネ付きボタン
  &.thumb {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -50px;
      margin: auto;
      width: 126px;
      height: 88px;
      background: url("../img/common/img-thumb01.png") 50% / contain no-repeat;
      transition: all .3s;
      @media #{$sp} {
        left: -30px;
        width: 90px;
        height: 55px;
      }
    }
    &:hover {
      &::after {
        width: 136px;
        height: 98px;
      }
    }
  }
  // 小さいボタン
  &.small {
    max-width: 330px;
    padding: 10px;
    &:before {
      width: 6px;
      height: 6px;
      border-top: solid 2px #fff;
      border-right: solid 2px #fff;
    }
    &:hover {
      &::before {
        border-top: solid 2px #F7A307;
        border-right: solid 2px #F7A307;
      }
    }
  }
  // 最小ボタン
  &.tiny {
    font-size: 13px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    &:before {
      content: none;
    }
  }

  // オレンジ（主にお問い合せ）
  &.contact-orange {
    background: #DE8703;
    border-color: #DE8703;
    &:hover {
      background: #FFF;
      color: #DE8703;

      &::before {
        border-top: solid 3px #DE8703;
        border-right: solid 3px #DE8703;
      }
    }
  }

  // ブルー（一覧ページへ）
  &.to-page-blue {
      background: #FFF;
      color: #002060;
      border-color: #002060;
      padding: 10px 17px;

      &::before {
        border-top: solid 3px #002060;
        border-right: solid 3px #002060;
      }


    &:hover {
      color: #fff;
      background: #002060;
      border-color: #002060;

      &::before {
        border-top: solid 3px #fff;
        border-right: solid 3px #fff;
      }
    }
  }

    // ブルーボーダー（団体向け）
    &.to-customer {
      background: #E8EBF1;
      color: #002060;
      border-color: #002060;
      border-radius: 5px;
      padding: 3px 17px;

      &::before {
        right: 22px;
        width: 5px;
        height: 5px;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        z-index: 10;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto;
        width: 18px;
        height: 18px;
        background-color: #002060;
        border-radius: 50%;
        z-index: 0;
      }


    &:hover {
      opacity: 0.6;
      transition: all 0.3s ease;
    }
  }
}

// 吹き出し付きボタン
.ctabtn {
  position: relative;
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
  @media #{$sp} {
    max-width: 100%;
  }
  .balloon {
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    &__txt {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      padding: 5px 15px;
      border-radius: 20px;
      background: #fff;
      color: #000;
      border: 1px solid #f29600;
      position: relative;
      @media #{$sp} {
        font-size: 11px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0);
        border-style: solid;
        border-width: 6px 6px 0;
        z-index: 2;
      }
      &::after {
        content: "";
        position: absolute;
        top: 103%;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-color: #f29600 rgba(0,0,0,0) rgba(0,0,0,0);
        border-style: solid;
        border-width: 6px 6px 0;
        z-index: 1;
      }
    }
  }
  .tooltip {
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #AD033B;
    @media #{$sp} {
      font-size: 12px;
    }
    &.cW {
      color: #fff;
    }
  }
}
