{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "キッザニア｜学校団体の方向け資料ダウンロード" %}
{% set description =
"キッザニアの学校団体の方向け資料です。フォームにて選択いただいた拠点に合った資料を送付いたします。" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# 共通パーツ用相対パスの設定 #}
{% set path = "../" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}
<main class="catalog">
  <section>
    <div class="containers flex">

      <!-- 資料紹介 -->
      <article class="sub-conts article">

        <h1 class="article__ttl">キッザニア｜学校団体向け資料ダウンロード</h1>

        <!-- 資料のスライダー -->
        <div class="wp-slick">
          <div id="wp-slick">
            <figure><img src="../assets/img/catalog/school.png" alt="学校団体向け資料"></figure>
          </div>
        </div>
        

        <h2 class="article__desc">キッザニアの学校団体向け資料です。<br>フォームにて選択いただいた拠点に合った資料を送付いたします。</h2>

        <div class="article__toc">
          <h2 class="article__toc--ttl">本資料の目次</h2>
          <div class="article__toc--list">
            <dl>
              <dt><h3>キッザニア東京の場合</h3></dt>
              <dd>
                <ul>
                  <li><h4>幼稚園・保育園向けパンフレット</h4></li>
                  <li><h4>小・中学校向けパンフレット</h4></li>
                  <li><h4>学校料金案内、予約の流れ</h4></li>
                  <li><h4>館内見学・オンライン説明会のご案内</h4></li>
                  <li><h4>フードチケットメニューのご案内</h4></li>
                  <li><h4>団体フォトサービスのご案内</h4></li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><h3>キッザニア甲子園の場合</h3></dt>
              <dd>
                <ul>
                  <li><h4>学校向けパンフレット</h4></li>
                  <li><h4>学校団体料金のご案内</h4></li>
                  <li><h4>施設見学のご案内</h4></li>
                  <li><h4>フードチケットメニューのご案内</h4></li>
                  <li><h4>団体フォトサービスのご案内</h4></li>
                  <li><h4>パビリオン一覧</h4></li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><h3>キッザニア福岡の場合</h3></dt>
              <dd>
                <ul>
                  <li><h4>団体向けパンフレット</h4></li>
                  <li><h4>学校団体料金のご案内</h4></li>
                  <li><h4>下見・施設見学のご案内</h4></li>
                  <li><h4>フードチケットメニューのご案内</h4></li>
                  <li><h4>団体フォトサービスのご案内</h4></li>
                  <li><h4>バス乗降スペース・アクセスマップ</h4></li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>

      </article>

      <!-- サイドメニュー -->
      <aside class="side-form">

        <!-- カイロスタグ挿入 -->
        <div class="form__ttl">ダウンロード申し込みフォーム</div>
        <!-- cms embed tag -->
        <div id="bdash_embed_form_container_prd_1629_1">
          <script type="text/javascript" src="https://cms.smart-bdash.com/1629/embed_tags/1/generate_iframe.js"
            charset="UTF-8"></script>
        </div>
        <!-- end cms embed tag -->
        <!-- カイロスタグ挿入 end -->
      </aside>

    </div>
  </section>
</main>
{% endblock %}