/*
  ----------------
  sitemap

  ----------------
*/
.sitemap {
    background-color: #F9F8EE;

    @media #{$sp} {
        width: 100%;
    }

    .containers {
        width: (1100 / 1440) *100vw;
        max-width: 1100px;
        padding: 78px 0 70px;

        @media #{$sp} {
            width: 86%;
            padding: 35px 0;
        }
    }

    .hero {
        background: url("../img/sitemap/bg-hero.png") no-repeat 50% / cover;

        @media #{$sp} {
            background: url("../img/sitemap/bg-hero.png") no-repeat center left 50% / cover;
            text-align: center;
        }


        .containers {
            padding: 105px 0 91px;

            @media #{$sp} {
                width: (690 / 750)*100vw;
                display: block;
                padding: (308 / 750)*100vw 0 (60 / 750)*100vw;
            }
        }

        .item {
            width: 792px;
            margin: 0 auto;

            @media #{$sp} {
                width: 100%;
            }
        }

        .ttl-primary {
            font-size: 36px;
            margin-bottom: 40px;
            color: #fff;

            @media #{$sp} {
                font-size: (48/ 750)*100vw;
                line-height: (70/ 48);
                margin-bottom: (55/ 750)*100vw;
            }
        }
    }

    .nav {

        > .flex {
            gap: (60 / 1440)* 100vw;
        }

        &__box {
            width: (520 / 1440)* 100vw;
            max-width: 520px;

            @media #{$sp} {
                width: 100%;
                max-width: 100%;
                margin-bottom: 15px;
            }

            &--ttl {
                padding-bottom: 16px;
                border-bottom: 1px solid #DE8703;
                margin-bottom: 16px;

                @media #{$sp} {
                    margin-bottom: 10px;
                }

                span {
                    position: relative;
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: (30 / 20);

                    &::before { 
                        content: "";
                        position: absolute;
                        width: 260px;
                        height: 1px;
                        background-color: #AD033B;
                        bottom: -17.5px;
                        z-index: 10;

                        @media #{$sp} {
                            bottom: -17px;
                        }
                    }
                }
            }

            &--list {
                li {
                    margin-bottom: 10px;
                    padding-left: 1em;
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    align-items: flex-start;

                    +* { 
                        margin-top: 8px;
                    }

                    &::before {
                        content: "・";
                        position: absolute;
                        left: 0;
                        color: #AD033B;
                        font-weight: bold;
                    }

                    a {
                        &:hover {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }

                    span {
                        display: block;
                        margin: 7px 0 0 12px;

                        a {
                            display: inline-block;
                            padding-left: 13px;
                            position: relative;
                            font-size: 16px;
                            line-height: (24 / 16);
                            font-weight: 400;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 12px;
                                left: 0;
                                width: 6px;
                                height: 2px;
                                background-color: #AD033B;
                            }
                        }
                    }
                }
            }
        }
    }
}