{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "楽しみながら社会の仕組みを学ぶ。職業・社会体験ならキッザニア" %}
{% set description = "キッザニアは職業・社会体験を通じて、こども達の❝生きる力❞を育み、将来を考えるきっかけを提供します。" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# 共通パーツ用相対パスの設定 #}
{% set path = "./" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<main class="top">
    <section class="hero">
        <div class="containers flex jcC">
            <div class="item">
                <h1 class="ttl-primary cB">楽しみながら<br class="sp-only">社会の仕組みを学ぶ。<br>職業・社会体験ならキッザニア</h1>
                <section class="reason02">
                    <div class="containers">
                        <ul class="flex jcC item">
                            <li class="item__box">
                                <h3 class="item__box--ttl">学校団体予約件数</h3>
                                <div class="item__box--txt"><span>2,427</span> 校</div>
                            </li>
                            <li class="item__box">
                                <h3 class="item__box--ttl">一般団体予約件数</h3>
                                <div class="item__box--txt"><span>909</span> 団体</div>
                            </li>
                            <li class="item__box">
                                <h3 class="item__box--ttl">団体来場者数</h3>
                                <div class="item__box--txt"><span>205,388</span> 名</div>
                                <div class="item__box--cation">※2019年度実績</div>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="hero__btn">
                    <div class="ctabtn flex jcC">
                        <a href="./reserve.html" class="more">
                            団体予約はこちら
                        </a>
                        <a href="./about.html" class="more contact-orange">
                            キッザニアとは
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="needs card-type2">
        <div class="containers">
            <h2 class="ttl-secondary">団体のお客さまの様々なニーズにお応えします。</h2>
            <ul class="flex gap30 card">
                <li class="card__wrap">
                    <h3 class="card__wrap--ttl">児童・生徒が自ら考え、気づき、行動できる環境で課外活動を行いたい</h3>
                    <summary class="card__box">
                        <figure class="card__box--img"><img src="./assets/img/top/img-needs01.png" alt="児童・生徒が自ら考え、気づき、行動できる環境で課外活動を行いたい"></figure>
                    </summary>
                    <a href="./group/school.html" class="more to-customer">学校団体の方へ</a>
                </li>
                <li class="card__wrap">
                    <h3 class="card__wrap--ttl">「安心して引率できる」こども会の行事プランを立てたい</h3>
                    <summary class="card__box">
                        <figure class="card__box--img"><img src="./assets/img/top/img-needs02.png" alt="「安心して引率できる」こども会の行事プランを立てたい"></figure>
                    </summary>
                    <a href="./group/general.html" class="more to-customer">一般団体の方へ</a>
                </li>
                <li class="card__wrap">
                    <h3 class="card__wrap--ttl">エンターテインメント性のある修学旅行・校外学習を提案したい</h3>
                    <summary class="card__box">
                        <figure class="card__box--img"><img src="./assets/img/top/img-needs03.png" alt="エンターテインメント性のある修学旅行・校外学習を提案したい"></figure>
                    </summary>
                    <a href="./group/agency.html" class="more to-customer">旅行代理店の担当者の方へ</a>
                </li>
            </ul>
            <div class="ctabtn flex jcC">
                <a href="./case.html" class="more to-page-blue">実績・事例を見る</a>
                <a href="./column/index.html" class="more to-page-blue">お役立ちコラムを見る</a>
            </div>
        </div>
    </section>
    

    <section class="dl-catalog latest">
        <div class="containers">
            <div class="lead">1日の過ごし方や料金など、もっと詳しく知りたい</div>
            <h2 class="ttl-secondary non">キッザニアの資料ダウンロード</h2>
            <div class="flex gap30 jcC">
                <div class="flex item jcC">
                    <div class="item__img"><img src="./assets/img/catalog/school.png" alt=""></div>
                    <div class="lead">料金案内、予約方法、1日の流れなどの</div>
                    <h3 class="item__ttl">学校団体向け資料</h3>
                    <a href="./catalog/catalog-school.html" class="more">資料ダウンロード</a>
                </div>
                <div class="flex item jcC">
                    <div class="item__img"><img src="./assets/img/catalog/general.png" alt=""></div>
                    <div class="lead">料金案内、ご利用案内などの</div>
                    <h3 class="item__ttl">一般団体向け資料</h3>
                    <a href="./catalog/catalog-general.html" class="more">資料ダウンロード</a>
                </div>

            </div>
        </div>
    </section>

    <section class="faq">
        <div class="containers">
            <h2 class="ttl-secondary non">よくあるご質問</h2>
          <dl>
            <dt class="question"><h2 class="question__ttl">食事はどうすればよいですか？</h2></dt>
            <dd class="answer">
                <p class="faq__txt">
                    施設内の各飲食店にて好きなものを当日購入していただけます。<br>
                    ご希望の団体の方には、フードチケット（別途料金、要事前申し込み）をご用意しております。<br>
                    （フードチケットメニューは、チケットなしでの当日購入はできませんのでご了承ください。）<br>
                    <br>
                    食事は各自フードコートにて体験の合間にお召し上がりください。<br>
                    ※食事スペースの確保は行っておりません。フードコートの座席のお取り置きはご遠慮ください。
                </p>
                <div class="faq__wrap">
                    <b>【キッザニア東京】</b>
                    飲食店（RF1、シャウエッセン、ピザーラエクスプレス、モスバーガー）をご利用ください。<br>
                    <a href="https://www.kidzania.jp/pdf/group/food_info_t.pdf" class="pdf" target="_blank">東京フードチケットメニューはこちら</a>
                </div>
                <div class="faq__wrap">
                    <b>【キッザニア甲子園】</b>
                    飲食店（RF1、シャウエッセン、ドンク、ピザーラエクスプレス）をご利用ください。<br>
                    <a href="https://www.kidzania.jp/pdf/group/food_info_k.pdf" class="pdf" target="_blank">甲子園フードチケットメニューはこちら</a>
                </div>
                <div class="faq__wrap">
                    <b>【キッザニア福岡】</b>
                    飲食店（RF1、ピザーラエクスプレス、宮武讃岐うどん）をご利用ください。<br>
                    <a href="https://www.kidzania.jp/pdf/group/food_info_f.pdf" class="pdf" target="_blank">福岡フードチケットメニューはこちら</a>
                </div>
            </dd>
          </dl>
    
          <dl>
            <dt class="question"><h2 class="question__ttl">予約後の人数変更・キャンセルはいつまでできますか？</h2></dt>
            <dd class="answer">
                <p class="faq__txt">
                    ご来場日の3週間前（来場日前日から起算）までは無料で人数変更・キャンセルを承れますが、最終人数確定後はキャンセルできません。<br>確定後のキャンセルは、お客様に下記料金をお支払いいただきます。
                </p>
                <div class="faq__wrap">
                    <b>【全てキャンセルされる場合】</b>
                    　最終確定人数の入場料金とフードチケット料金の全額
                    <hr>
                    <b>【一部キャンセル（減員）の場合】</b>
                    　お一人さま210円（税込）のキャンセル料
                </div>
                <p class="faq__txt">
                    　※日程変更についてはご相談ください。<br>
                    　※フードチケットは、キャンセルおよびご返金ができかねます。
                </p>
            </dd>
          </dl>
    
          <dl>
            <dt class="question"><h2 class="question__ttl">体験はどのくらいできますか？</h2></dt>
            <dd class="answer">
                <p class="faq__txt">
                    アクティビティの体験時間は平均20～40分ですので、待ち時間も合わせて1時間に1つを体験の目安にしてください。<br>
                    ※滞在時間や当日の混雑状況などにより変動します。
                </p>
            </dd>
          </dl>
          <a href="./faq.html" class="more to-page-blue">よくあるご質問一覧を見る</a>
        </div>
      </section>

    <section class="reserve">
        <div class="containers">
            <h2 class="ttl-secondary non">貸切利用も受付しております。</h2>
            <p class="lead">キッザニアでは、企業や団体の方向けに<br class="sp-only">施設貸切プランをご用意しています。<br>
                団体貸切利用、企業研修、会社の福利厚生や<br class="sp-only">ファミリー向け懇親会など、<br class="sp-only">用途に合わせてアレンジが可能です。<br>
                まずは、お気軽にご相談ください。</p>
            <ul class="wrapper">
                <li>利用人数：200名~</li>
                <li>貸切利用可能日時：お問い合わせフォームよりご相談ください</li>
                <li>申し込み期限：実施希望日の5ヶ月前まで</li>
            </ul>
            <a href="./contact.html" class="more contact-orange">貸切利用のお問い合わせはこちら</a>
        </div>
    </section>

    <section class="inquiry04">
        <div class="containers-full">
            <div class="flex">
                <a href="./contact.html" class="item">
                    <div class="item__box left">
                        <figure class="item__box--img"><img src="./assets/img/common/icon-mail.png" alt="お問い合わせ">
                        </figure>
                        <h2 class="item__box--ttl">お問い合わせ</h2>
                        <h3 class="item__box--txt">キッザニアへのお問い合わせは<br>こちらよりお願いします。</h3>
                    </div>
                </a>
                <span class="item">
                    <div class="item__box right">
                        <figure class="item__box--img"><img src="./assets/img/common/icon-visit.png" alt="施設見学申し込み">
                        </figure>
                        <h2 class="item__box--ttl">施設見学申し込み</h2>
                        <h3 class="item__box--txt">
                            <a href="./visit/visit-tokyo.html" class="ttl">キッザニア東京 施設見学</a>
                            <a href="./visit/visit-koshien.html" class="ttl">キッザニア甲子園 施設見学</a>
                            <a href="./visit/visit-fukuoka.html" class="ttl">キッザニア福岡 施設見学</a>
                        </h3>
                    </div>
                </span>
                <a href="./reserve.html" class="item">
                    <div class="item__box right">
                        <figure class="item__box--img"><img src="./assets/img/common/icon-reserve.png" alt="団体予約">
                        </figure>
                        <h2 class="item__box--ttl">団体予約</h2>
                        <h3 class="item__box--txt">一般団体の方は20名以上から<br class="sp-only">受付しております。</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

{% endblock %}