{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "ご予約いただき、ありがとうございました。" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# 共通パーツ用相対パスの設定 #}
{% set path = "./" %}

{# noindex/nofollow #}
{% set noindex = true %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}
<main class="thanks">
  <section>
    <div class="containers">

      <h1 class="ttl-primary-lower">ご予約いただき、<br class="sp-only">ありがとうございました。</h1>

      <div class="lead">Web上では予約が確定いたしません。<br>施設の空き状況を確認し後日担当者より予約受け入れ可否のご連絡メールを差し上げます。</div>

      <a href="https://www.kidzania.jp/group_info/" class="more to-page-blue">トップページに戻る</a>

    </div>
  </section>
</main>
{% endblock %}