<footer>
    <div class="containers nav">
      <nav class="flex">
        <div class="nav__box">
          <div class="nav__box--ttl">お役立ち情報</div>
          <ul class="nav__box--list">
            <li><a href="/case/">実績・事例</a></li>
            <li><a href="/catalog/">お役立ち資料</a></li>
            <li><a href="/column/">お役立ちコラム</a></li>
          </ul>
        </div>
        <div class="nav__box">
          <div class="nav__box--ttl">サービスガイド</div>
          <ul class="nav__box--list">
            <li><a href="/about/">キッザニアとは</a></li>
            <li>
                <a href="/school/">学校団体様へ</a><br class="sp-only">
                <span><a href="/catalog/">学校団体様向けキッザニア概要資料</a></span>
            </li>
            <li>
                <a href="/general/">一般団体様へ</a><br class="sp-only">
                <span class="item__box--sub"><a href="/catalog/">一般団体様向けキッザニア概要資料</a></span>
            </li>
            <li><a href="/agency/">旅行代理店様へ</a></li>
          </ul>
        </div>
        <div class="nav__box">
          <div class="nav__box--ttl">ご予約について</div>
          <ul class="nav__box--list">
            <li><a href="/catalog/tokyo/">キッザニア東京 施設見学申込み</a></li>
            <li><a href="/catalog/koshien/">キッザニア甲子園 施設見学申込み</a></li>
            <li><a href="/catalog/fukuoka/">キッザニア福岡 施設見学申込み</a></li>
            <li><a href="/reserve/">団体予約</a></li>
          </ul>
        </div>
        <div class="nav__box">
          <div class="nav__box--ttl">お役立ち情報</div>
          <ul class="nav__box--list">
            <li><a href="/faq/">よくあるご質問</a></li>
            <li><a href="/contact/">お問い合わせ</a></li>   
          </ul>
        </div>
      </nav>
    </div>

        <aside class="aside">
            <ul class="flex jcC inherit aside__nav">
                <li><a href="https://www.kidzania.jp/corporate/" target="_blank">企業情報</a></li>
                <li><a href="https://www.kidzania.jp/privacy/" target="_blank">プライバシーポリシー</a></li>
                <li><a href="https://www.kidzania.jp/cookie/" target="_blank">クッキーとオプトアウト</a></li>
            </ul>
        
            <div class="aside__copy">©KCJ GROUP INC.All Rights Reserved.</div>
        </aside>
    </div>
</footer>