<footer>
  <div class="containers nav">
    <nav class="flex">
      <div class="nav__box">
        <div class="nav__box--ttl">お役立ち情報</div>
        <ul class="nav__box--list">
          <li><a href="{{ path }}case.html">実績・事例</a></li>
          <!-- <li><a href="{{ path }}whitepaper/wp1/">お役立ち資料</a></li> -->
          <li><a href="{{ path }}column/index.html">お役立ちコラム</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">サービスガイド</div>
        <ul class="nav__box--list">
          <li><a href="{{ path }}about.html">キッザニアとは</a></li>
          <li>
            <a href="{{ path }}group/school.html">学校団体</a><br class="sp-only">
            <span><a href="https://form.kidzania.jp/school" target="_blank" rel="noopener noreferrer">学校団体向け資料ダウンロード</a></span>
          </li>
          <li>
            <a href="{{ path }}group/general.html">一般団体（20名以上）</a><br class="sp-only">
            <span class="item__box--sub"><a href="https://form.kidzania.jp/general" target="_blank" rel="noopener noreferrer">一般団体(20名以上)向け資料ダウンロード</a></span>
          </li>
          <li><a href="{{ path }}group/agency.html">旅行代理店</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">ご予約について</div>
        <ul class="nav__box--list">
          <li><a href="https://form.kidzania.jp/visit_tokyo" target="_blank" rel="noopener noreferrer">キッザニア東京 施設見学申し込み</a></li>
          <li><a href="https://form.kidzania.jp/visit_koshien" target="_blank" rel="noopener noreferrer">キッザニア甲子園 施設見学申し込み</a></li>
          <li><a href="https://form.kidzania.jp/visit_fukuoka" target="_blank" rel="noopener noreferrer">キッザニア福岡 施設見学申し込み</a></li>
          <li><a href="https://form.kidzania.jp/reserve" target="_blank" rel="noopener noreferrer">団体予約</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お問い合わせ</div>
        <ul class="nav__box--list">
          <li><a href="{{ path }}faq.html">よくあるご質問</a></li>
          <li><a href="https://form.kidzania.jp/contact" target="_blank" rel="noopener noreferrer">お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <aside class="aside">
    <ul class="flex jcC inherit aside__nav">
      <li><a href="https://www.kidzania.jp/corporate/" target="_blank">企業情報</a></li>
      <li><a href="https://www.kidzania.jp/privacy/" target="_blank">プライバシーポリシー</a></li>
      <li><a href="https://www.kidzania.jp/cookie/" target="_blank">クッキーとオプトアウト</a></li>
    </ul>

    <div class="aside__copy">©KCJ GROUP INC.All Rights Reserved.</div>
  </aside>
</footer>