<header>
	<div class="in">
		<div class="flex inherit">
			<div class="in__logo">
				<a href="/" class="in__logo__img"><img src="/assets/img/common/logo.svg" alt="KidZania Japan"></a>
			</div>
			<nav class="in__nav pc-only">
				<ul class="flex">
					<li><a href="/whitepaper/">お問い合わせ</a></li>
					<li><a href="/visit/">施設見学申し込み</a></li>
					<li><a href="/reserve/">団体予約</a></li>
				</ul>
			</nav>
			<div id="nav-toggle" class="sp-only">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<div class="nav-list pc-only">
		<ul class="flex">
			<li><a href="/about/">キッザニアとは</a></li>
			<li><a href="/school/">学校団体様へ</a></li>
			<li><a href="/general/">一般団体様へ</a></li>
			<li><a href="/agency/">旅行代理店様へ</a></li>
			<li class="parent">
				<a href="#" class="arrow disabled">資料ダウンロード</a>
				<div class="mega flex pull">
				  <div class="mega__parent">資料ダウンロード</div>
				  <div class="mega__box flex">
					<div class="mega__box--list">
					  <a href="#" class="ttl">学校団体様向けキッザニア概要資料</a>
					</div>
					<div class="mega__box--list">
					  <a href="#" class="ttl">キャリア教育実践プログラム</a>
					</div>
					<div class="mega__box--list">
					  <a href="#" class="ttl">英語教育支援プログラム</a>
					</div>
					<div class="mega__box--list">
					  <a href="#" class="ttl">一般団体様向けキッザニア概要資料</a>
					</div>
					<div class="mega__box--list">
					  <a href="#" class="ttl">SDGs教育プログラム</a>
					</div>
				  </div>
				</div>
			  </li>
			  <li class="parent">
				<a href="/column/" class="arrow disabled">お役立ち情報</a>
				<div class="mega flex pull">
				  <div class="mega__parent">お役立ち情報</div>
				  <div class="mega__box flex">
					<div class="mega__box--list">
					  <a href="/case/" class="ttl">実績・事例</a>
					</div>
					<div class="mega__box--list">
					  <a href="/catalog/" class="ttl">お役立ち資料</a>
					</div>
					<div class="mega__box--list">
					  <a href="/faq/" class="ttl">よくあるご質問</a>
					</div>
					<div class="mega__box--list">
					  <a href="/column/" class="ttl">お役立ちコラム</a>
					</div>
				  </div>
				</div>
			  </li>
			<li><a href="https://www.kidzania.jp/corporate/" target="_blank">企業情報</a></li>
		</ul>
	</div>
	<div id="gloval-nav">
		<ul class="list">
			<li><a href="/about/">キッザニアとは</a></li>
			<li><a href="/school/">学校団体様へ</a></li>
			<li><a href="/general/">一般団体様へ</a></li>
			<li><a href="/agency/">旅行代理店様へ</a></li>
			<li><a href="/catalog/">資料ダウンロード</a></li>
			<li><a href="/column/">お役立ち情報</a></li>
			<li><a href="https://www.kidzania.jp/corporate/" target="_blank">企業情報</a></li>
		</ul>
		<ul class="aside">
			<li><a href="/whitepaper/">お問い合わせ</a></li>
			<li><a href="/visit/">施設見学申し込み</a></li>
			<li><a href="/reserve/">団体予約</a></li>
		</ul>
	</div>
</header>