<header>
	<div class="in">
		<div class="flex inherit">
			<div class="in__logo">
				<a href="https://www.kidzania.jp/group_info/index.html" class="in__logo__img"><img src="https://d2q99lr8bgaoof.cloudfront.net/uploads/BD-CHTPGR/image/42/2b6da81d-4d78-46e8-be18-847ed916072d.svg" alt="KidZania Japan"></a>
			</div>
			<nav class="in__nav pc-only">
				<ul class="flex">
					<li><a href="https://form.kidzania.jp/contact" target="_blank" rel="noopener noreferrer">お問い合わせ</a></li>
					<li class="parent dropdown-btn" data-target="dropdown-cont01">
						<a href="./" class="disabled">施設見学申し込み</a>
						<div class="mega flex pull dropdown-cont">
							<div class="mega__parent">施設見学申し込み</div>
							<div class="mega__box flex">
								<div class="mega__box--list">
									<a href="https://form.kidzania.jp/visit_tokyo" class="ttl" target="_blank" rel="noopener noreferrer">キッザニア東京 施設見学</a>
								</div>
								<div class="mega__box--list">
									<a href="https://form.kidzania.jp/visit_koshien" class="ttl" target="_blank" rel="noopener noreferrer">キッザニア甲子園 施設見学</a>
								</div>
								<div class="mega__box--list">
									<a href="https://form.kidzania.jp/visit_fukuoka" class="ttl" target="_blank" rel="noopener noreferrer">キッザニア福岡 施設見学</a>
								</div>
							</div>
						</div>
					</li>
					<li><a href="https://form.kidzania.jp/reserve" target="_blank" rel="noopener noreferrer">団体予約</a></li>
				</ul>
			</nav>
			<div id="nav-toggle" class="sp-only">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<div class="nav-list pc-only">
		<ul class="flex">
			<li><a href="https://www.kidzania.jp/group_info/about.html">キッザニアとは</a></li>
			<li><a href="https://www.kidzania.jp/group_info/group/school.html">学校団体</a></li>
			<li><a href="https://www.kidzania.jp/group_info/group/general.html">一般団体（20名以上）</a></li>
			<li><a href="https://www.kidzania.jp/group_info/group/agency.html">旅行代理店</a></li>
			<li class="parent dropdown-btn" data-target="dropdown-cont02">
				<a href="./" class="arrow disabled">資料ダウンロード</a>
				<div class="mega flex pull dropdown-cont">
					<div class="mega__parent">資料ダウンロード</div>
					<div class="mega__box flex">
						<div class="mega__box--list">
							<a href="https://form.kidzania.jp/school" class="ttl" target="_blank" rel="noopener noreferrer">料金案内、予約方法、1日の流れなどの<br><b>学校団体向け資料ダウンロード</b></a>
						</div>
						<div class="mega__box--list">
							<a href="https://form.kidzania.jp/general" class="ttl" target="_blank" rel="noopener noreferrer">料金案内、ご利用案内などの<br><b>一般団体(20名以上)向け資料ダウンロード</b></a>
						</div>
					</div>
				</div>
			</li>
			<li class="parent dropdown-btn" data-target="dropdown-cont03">
				<a href="./" class="arrow disabled">お役立ち情報</a>
				<div class="mega flex pull dropdown-cont">
					<div class="mega__parent">お役立ち情報</div>
					<div class="mega__box flex">
						<div class="mega__box--list">
							<a href="https://www.kidzania.jp/group_info/case.html" class="ttl">実績・事例</a>
						</div>
						<!-- <div class="mega__box--list">
							<a href="./whitepaper/wp1/" class="ttl">お役立ち資料</a>
						</div> -->
						<div class="mega__box--list">
							<a href="https://www.kidzania.jp/group_info/column/index.html" class="ttl">お役立ちコラム</a>
						</div>
					</div>
				</div>
			</li>
			<li><a href="https://www.kidzania.jp/group_info/faq.html">よくあるご質問</a></li>
		</ul>
	</div>
	<div id="gloval-nav">
		<div class="scroll-fix">
			<ul class="list">
				<li><a href="https://www.kidzania.jp/group_info/about.html">キッザニアとは</a></li>
				<li><a href="https://www.kidzania.jp/group_info/group/school.html">学校団体</a></li>
				<li><a href="https://www.kidzania.jp/group_info/group/general.html">一般団体（20名以上）</a></li>
				<li><a href="https://www.kidzania.jp/group_info/group/agency.html">旅行代理店</a></li>
				<li class="parent pb0">
					<span class="dropdown-toggle">資料ダウンロード</span>
					<div class="mega flex pull dropdown-content">
						<div class="mega__box flex">
							<div class="mega__box--list">
								<a href="https://form.kidzania.jp/school" class="ttl" target="_blank" rel="noopener noreferrer">料金案内、予約方法、1日の流れなどの<br><b>学校団体向け資料ダウンロード</b></a>
							</div>
							<div class="mega__box--list">
								<a href="https://form.kidzania.jp/general" class="ttl" target="_blank" rel="noopener noreferrer">料金案内、ご利用案内などの<br><b>一般団体(20名以上)向け資料ダウンロード</b></a>
							</div>
						</div>
					</div>
				</li>
				<li class="parent pb0">
					<span class="dropdown-toggle">お役立ち情報</span>
					<div class="mega flex pull dropdown-content">
						<div class="mega__box flex">
							<div class="mega__box--list">
								<a href="https://www.kidzania.jp/group_info/case.html" class="ttl">実績・事例</a>
							</div>
							<div class="mega__box--list">
								<a href="https://www.kidzania.jp/group_info/column/index.html" class="ttl">お役立ちコラム</a>
							</div>
						</div>
					</div>
				</li>
				<li><a href="https://www.kidzania.jp/group_info/faq.html">よくあるご質問</a></li>
				<li class="parent pb0">
					<span class="dropdown-toggle">施設見学申し込み</span>
					<div class="mega flex pull dropdown-content">
						<div class="mega__box flex">
							<div class="mega__box--list">
								<a href="https://form.kidzania.jp/visit_tokyo" class="ttl" target="_blank" rel="noopener noreferrer">キッザニア東京 施設見学</a>
							</div>
							<div class="mega__box--list">
								<a href="https://form.kidzania.jp/visit_koshien" class="ttl" target="_blank" rel="noopener noreferrer">キッザニア甲子園 施設見学</a>
							</div>
							<div class="mega__box--list">
								<a href="https://form.kidzania.jp/visit_fukuoka" class="ttl" target="_blank" rel="noopener noreferrer">キッザニア福岡 施設見学</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="aside">
				<li><a href="https://form.kidzania.jp/contact" target="_blank" rel="noopener noreferrer">お問い合わせ</a></li>
				<li><a href="https://form.kidzania.jp/reserve" target="_blank" rel="noopener noreferrer">団体予約</a></li>
			</ul>
		</div>
	</div>
</header>