{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "お役立ちコラム" %}
{% set description = "こども達の“生きる力”を育むキッザニアの取り組みや、キャリア教育に関する情報をお届けするコラムです。" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# 共通パーツ用相対パスの設定 #}
{% set path = "../" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<main id="page001" class="column">
    <section class="column__wrapper">
        <div class="containers flex">

            <!-- 投稿記事詳細メイン -->
            <article class="main-conts single">

                <h1 class="single__h1">修学旅行での学びを豊かなものにするには？必要な事前準備や行き先をご紹介</h1>

                <div class="single__time"><span class="time">2023.8.14</span></div>

                <!-- SNSシェアボタン -->
                <ul class="flex gap20 fS aiC sns-share">
                    <li><a href="https://line.me/R/ti/p/%40nvd0117y" target="_blank"><img src="../assets/img/common/icon-line.svg" alt="LINE"></a></li>
                    <li><a href="https://www.facebook.com/KidZania.japan/" target="_blank"><img src="../assets/img/common/icon-facebook.svg" alt="facebook"></a></li>
                    <li><a href="https://twitter.com/kidzania_t" target="_blank"><img src="../assets/img/common/icon-twitter.svg" alt="Twitter"></a></li>
                    <li><a href="https://www.instagram.com/kidzaniajapan/" target="_blank"><img src="../assets/img/common/icon-instagram.svg" alt="Instagram"></a></li>
                </ul>

                <div class="single__lead">
                    修学旅行を児童・生徒にとって有意義な学びの機会とするには、修学旅行のテーマや行き先選びに加えて、出発前の準備や振り返りが重要になります。本記事では児童・生徒が豊かな学びを得るために必要な活動アイデアやおすすめの行き先をご紹介します。
                </div>


                <div class="single__toc">
                    <div class="single__toc--ttl">目次</div>
                    <dl>
                        <dt><a href="#page001-1">修学旅行で得られる学びとは</a></dt>
                        <dd>
                            <ul>
                                <li><a href="#page001-1-1">自ら考え、行動することによる学び</a></li>
                                <li><a href="#page001-1-2">対話による学び</a></li>
                            </ul>
                        </dd>
                        <dt><a href="#page001-2">修学旅行での学びの効果を最大化するには</a></dt>
                        <dd>
                            <ul>
                                <li><a href="#page001-2-1">訪問先で得る学びを整理する</a></li>
                                <li><a href="#page001-2-2">訪問先について事前学習をする</a></li>
                                <li><a href="#page001-2-3">修学旅行中に学びを整理する</a></li>
                                <li><a href="#page001-2-4">修学旅行での学びを発表する</a></li>
                                <li><a href="#page001-2-5">協力者へのお礼や報告をする</a></li>
                            </ul>
                        </dd>
                        <dt><a href="#page001-3">学びの効果を高める修学旅行の行き先とは</a></dt>
                        <dd>
                            <ul>
                                <li><a href="#page001-3-1">歴史的建造物・資料館</a></li>
                                <li><a href="#page001-3-2">動物園・水族館</a></li>
                                <li><a href="#page001-3-3">体験型施設</a></li>
                            </ul>
                        </dd>
                        <dt><a href="#page001-4">事前準備や行き先選びで学び豊かな充実した修学旅行に</a></dt>
                        <dd>
                            <ul>
                                <li><a href="#page001-4-1">キッザニアで学習効果の高い修学旅行を</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>

                <h2 id="page001-1" class="single__h2"><span>修学旅行で得られる学びとは</span></h2>

                <div class="single__txt">
                    <p>修学旅行は、児童・生徒にとって楽しみなイベントであるだけでなく、普段の授業で学ぶことができないことを経験できる機会でもあります。また「旅行」という形で実際に現地に足を運んだり、集団で行動をしたりするなど、普段の座学とは違った形で学びを得られる機会でもあります。<br>以下では、修学旅行で得ることができる学びについて紹介します。
                    </p>
                </div>

                <h3 id="page001-1-1" class="single__h3">自ら考え、行動することによる学び</h3>

                <div class="single__txt">
                    <p>実際に現地に足を運び、その土地の名勝や施設などを訪れて、学びの題材を身近に感じることができるという点は、普段の授業と修学旅行の大きな違いの一つです。現地で直接見聞きし体験することで、児童・生徒自身が対象について自ら考えたり、行動を起こしたりすることを促すことができます。
                    </p>
                    <p>普段の座学の授業で主体的に取り組むことが難しい児童・生徒にとっても、学びの対象を自分ごととして捉えやすくなるため、自ら考え行動を起こす経験や、気づきを得る機会となります。
                    </p>
                </div>

                <h3 id="page001-1-2" class="single__h3">対話による学び</h3>

                <div class="single__txt">
                    <p>修学旅行では、児童・生徒自身が対象に対して関心を持ちやすくなるだけでなく、集団行動や現地の方との交流によって、普段の授業以上に対話を促すことができます。<br>
                        そのため、自身の考えを発言しあうことの大切さや、ほかの人の立場からの考えを聞く姿勢を学べます。
                    </p>
                </div>

                <h2 id="page001-2" class="single__h2"><span>修学旅行での学びの効果を最大化するには</span></h2>


                <div class="single__txt">
                    <p>修学旅行は普段とは異なる経験をすることができますが、ただ実施するだけでは児童・生徒たちの主体性を引き出すことが出来ず、豊かな学びを得ることはできません。<br>
                        学びの効果を最大化させるためには、児童・生徒の関心を高める事前学習や、事後学習を行うことが、重要になります。<br>
                        以下では、修学旅行での学びの効果を最大化させるための活動アイデアについてご紹介します。
                    </p>
                </div>

                <h3 id="page001-2-1" class="single__h3">訪問先で得る学びを整理する</h3>

                <div class="single__txt">
                    <p>まずは児童・生徒に学んでほしいことや身につけてほしいことを整理します。<br>「集団の決まりを守れるようにする」「社会のルールを身につける」など修学旅行全体を通したものに加え、行き先ごとに具体的な学びの内容を設定することがポイントになります。社会科や理科、総合的学習の時間など、普段の授業で扱っているテーマと関連付けることで、整理しやすくなります。
                    </p>
                </div>

                <h3 id="page001-2-2" class="single__h3">訪問先について事前学習をする</h3>

                <div class="single__txt">
                    <p>児童・生徒に得てほしい学びが整理できたら、事前学習を行います。<br>実際に現地に行く前に事前情報を知っていたり、自分自身の考えを持っていたりすることで、現地訪問時の気づきや理解を豊かなものにすることができます。
                    </p>
                    <p>児童・生徒自身に主体的に考えてもらうには、一方的な情報提示をするのではなく、個々の関心や疑問に基づいて調べ学習などの事前学習を行うことが効果的です。またグループでお互いの考えを発言したり、ディスカッションを行ったりすることも、考えを深める上で効果的です。<br>近年では、事前学習の教材も充実しています。旅行先独自の事前学習教材を取り寄せて事前学習に活用することも効果的です。
                    </p>
                </div>

                <h3 id="page001-2-3" class="single__h3">修学旅行中に学びを整理する</h3>

                <div class="single__txt">
                    <p>学びの効果を最大化させるためには、修学旅行中に学びや気づきを整理する時間も重要になります。<br>
                        一日の終わりに記載する日記とは別に、学びや気づきを記入できる学習シートを用意します。<br>
                        実際に現地に訪れたときに記入することで、学びや気づきをリアルタイムで鮮明に記録することができ、振り返りやまとめを充実させることができます。<br>
                        学習シートは、事前学習の内容も参照できるような工夫をすることにより、現地での学びだけでなく、事前学習での考えも振り返ることができるため、現地での学びを豊かにすることができます。</p>
                    <p>また一日の終わりに、学びや気づきを発表する報告会を実施することも効果的です。<br>
                        報告会を実施することにより、ほかの児童・生徒の視点での学びを知ることができ、翌日の行動の参考にすることができます。</p>
                </div>

                <h3 id="page001-2-4" class="single__h3">修学旅行での学びを発表する</h3>

                <div class="single__txt">
                    <p>修学旅行から帰ってきたら、学びを整理し発表します。<br>
                        事後発表を行うための準備の過程も、児童・生徒にとっては学びを深める機会となります。事後発表は出発前に行う事前学習と比べて、児童・生徒自身が主体的になりにくいことも考えられますが、前述の事前学習や修学旅行中にも学びや気づきを整理することで、事後学習での振り返りもしやすくなります。
                    </p>
                </div>

                <h3 id="page001-2-5" class="single__h3">協力者へのお礼や報告をする</h3>

                <div class="single__txt">
                    <p>お世話になった訪問先の人に対して、お礼をすることも児童・生徒にとっては学びになります。<br>
                        お礼の手紙を書くことは、お世話になった方への感謝の気持ちを形にするためのマナーを学ぶ機会にもなります。</p>
                </div>

                <h2 id="page001-3" class="single__h2"><span>学びの効果を高める修学旅行の行き先とは</span></h2>

                <h3 id="page001-3-1" class="single__h3">歴史的建造物・資料館</h3>

                <div class="single__txt">
                    <p>歴史的建造物や資料館は社会科の授業とも結びつけやすく、児童・生徒の興味を引き付けることができます。<br>寺院や城など歴史的建造物に訪れることで、教科書では感じ取ることができないそのもののすばらしさを実際に感じることができます。また資料館も現地でしか見ることができない重要な文献や史料に触れられる機会となります。
                    </p>
                </div>

                <h3 id="page001-3-2" class="single__h3">動物園・水族館</h3>

                <div class="single__txt">
                    <p>生き物を見て楽しむレジャー施設のイメージが強い動物園や水族館ですが、最近では教育プログラムを実施している施設もあります。絶滅危惧の動物保護や自然環境などのプログラムでは環境問題やSDGsなどのテーマと関連付けて学びを深めることができます。
                    </p>
                </div>

                <h3 id="page001-3-3" class="single__h3">体験型施設</h3>

                <div class="single__txt">
                    <p>農業体験や民芸品作りなどの体験型施設では、実際に手を動かして肌で感じることでしか得られない気づきが多くあります。五感を使って得た気づきは一人ひとり異なるため、切り口次第で教科横断的に事後学習を行うことができます。体験と連動した事前・事後学習プログラムを提供している施設もあるので、学習プログラムを取り寄せて活用することで、より深い学びに繋げることができます。
                    </p>

                    <p>また体験型施設での体験は、実際に体験することによる学びだけでなく、非認知能力の醸成につながることが報告されています。<br>キッザニア白書によると、体験型学習によって養われた非認知能力は体験時だけのものではなく日常生活にも越境していくことが示されています。体験型施設の現場のスタッフが児童・生徒にサポートや働きがけをすることによって自立心の醸成を促す傾向が確認できています。体験型学習により醸成された自立心は、日常生活における自己肯定感や自己効力感の向上につながっている結果が出ています。
                    </p>

                    <p>体験型施設では実際に体験することの学びに加え、非認知能力の醸成により児童・生徒の意欲や姿勢においても良い影響を与えることが可能になるため、児童・生徒にとっても有意義な体験の機会とすることができます。
                    </p>

                    <p>参考：『キッザニア白書 2021』 P8</p>
                </div>

                <h2 id="page001-4" class="single__h2"><span>事前準備や行き先選びで学び豊かな充実した修学旅行に</span></h2>

                <div class="single__txt">
                    <p>本記事では学びのある修学旅行にするためのアイデアをご紹介しました。<br>
                        豊かな学びの機会にするには準備や行き先選びが重要になりますが、近年では事前学習の教材や訪問先でのプログラムが充実しています。それにより、従来の修学旅行では体験することが難しかった学びや姿勢を身につけることも可能になっています。<br>
                        学びのある修学旅行にするために本記事でご紹介したアイデアをぜひお役立てください。</p>
                </div>

                <h3 id="page001-4-1" class="single__h3">キッザニアで学習効果の高い修学旅行を</h3>

                <div class="single__txt">
                    <p>キッザニアは、こども達がさまざまな仕事やサービスを体験できる、職業・社会体験施設です。<br>
                        キッザニアでの職業・社会体験では、体験による学びだけでなく、児童・生徒の自立心を醸成し、日常生活での姿勢を豊かにすることに役立つ体験を提供しています。</p>

                    <p>キッザニア東京・甲子園では約100種類、キッザニア福岡では約70種類の仕事やサービスを体験することができるため、一人ひとりの興味関心に合わせて体験することができます。また仕事体験後はキッザニアの専用通貨でお給料をもらい、それを使ってサービスを受けることもできるなど、社会の仕組みや経済活動の基本も学ぶことができます。</p>

                    <p>キッザニアでは、近年修学旅行の学習テーマとして関心が高まっている「キャリア教育」と「SDGs」についての学習プログラムも提供しています。</p>

                    <p>キャリア教育実践プログラムでは、事前・事後学習で使用できるワークシートや授業進行例を提供しています。事前・事後学習の準備を十分に行えない場合であっても、キャリア教育実践プログラムを事前・事後学習に活用することによって、児童・生徒により学びのある体験をしてもらうことができます。</p>

                    <p>事前・事後学習を充実させて、学習効果の高い修学旅行を実施したいとお考えの方は、ぜひ下記よりダウンロードください。</p>
                </div>

                <!-- 記事詳細下部お役立ち資料 -->
                <div class="useful">
                    <h3 class="single__ttl">資料ダウンロード</h3>
                    <div class="item">
                        <div class="flex aiC">
                            <figure class="item__img"><img src="../assets/img/column/school.png" alt=""></figure>
                            <summary class="item__box">
                                <div class="item__box--ttl">キッザニア｜学校団体向け資料</div>
                            </summary>
                        </div>
                        <a href="../catalog/catalog-school.html" class="more"><span>資料ダウンロード</span></a>
                    </div>
                </div>
            </article>

            <!-- サイドメニュー -->
            <aside class="side-nav">

                <a href="../reserve.html" class="bnr-contact"><img src="../assets/img/column/bnr-reserve.png" alt=""></a>

                <div class="ctabtn">
                    <div class="balloon"><span class="balloon__txt">キッザニアについて知りたい方はこちら</span></div>
                  </div>

                <a href="../catalog/catalog-school.html" class="bnr-catalog"><img src="../assets/img/column/bnr-catalog-school.png" alt=""></a>
                <a href="../catalog/catalog-general.html" class="bnr-catalog"><img src="../assets/img/column/bnr-catalog-general.png" alt=""></a>
            </aside>

        </div>
    </section>
</main>

{% endblock %}