{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "お役立ちコラム" %}
{% set description = "こども達の“生きる力”を育むキッザニアの取り組みや、キャリア教育に関する情報をお届けするコラムです。" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# 共通パーツ用相対パスの設定 #}
{% set path = "../" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<main id="page002" class="column">
    <section class="column__wrapper">
        <div class="containers flex">

            <!-- 投稿記事詳細メイン -->
            <article class="main-conts single">

                <h1 class="single__h1">こども会のイベントアイデア7選｜企画のポイントもご紹介</h1>

                <div class="single__time"><span class="time">2023.8.14</span></div>

                <!-- SNSシェアボタン -->
                <ul class="flex gap20 fS aiC sns-share">
                    <li><a href="https://line.me/R/ti/p/%40nvd0117y" target="_blank"><img
                                src="../assets/img/common/icon-line.svg" alt="LINE"></a></li>
                    <li><a href="https://www.facebook.com/KidZania.japan/" target="_blank"><img
                                src="../assets/img/common/icon-facebook.svg" alt="facebook"></a></li>
                    <li><a href="https://twitter.com/kidzania_t" target="_blank"><img
                                src="../assets/img/common/icon-twitter.svg" alt="Twitter"></a></li>
                    <li><a href="https://www.instagram.com/kidzaniajapan/" target="_blank"><img
                                src="../assets/img/common/icon-instagram.svg" alt="Instagram"></a></li>
                </ul>

                <div class="single__lead">
                    本記事では、こども会で行うイベントについて、企画のポイントとイベントアイデアをご紹介します。<br>「こども会のイベント企画で良いアイデアが思い浮かばない」「イベントの企画のポイントを知りたい」という方は本記事で詳細をご紹介しておりますので、ぜひご覧ください。
                </div>

                <div class="single__toc">
                    <div class="single__toc--ttl">目次</div>
                    <dl>
                        <dt><a href="#page002-1">こども会のイベントを企画する際のポイント</a></dt>
                        <dd>
                            <ul>
                                <li><a href="#page002-1-1">あらゆる年齢のこども達にとって有意義であること</a></li>
                                <li><a href="#page002-1-2">保護者に納得してもらえるイベントであること</a></li>
                            </ul>
                        </dd>
                        <dt><a href="#page002-2">こども会のイベントアイデア7選</a></dt>
                        <dd>
                            <ul>
                                <li><a href="#page002-2-1">ゲーム</a></li>
                                <li><a href="#page002-2-2">料理</a></li>
                                <li><a href="#page002-2-3">スポーツ大会</a></li>
                                <li><a href="#page002-2-4">アウトドア体験</a></li>
                                <li><a href="#page002-2-5">鑑賞会</a></li>
                                <li><a href="#page002-2-6">地域交流</a></li>
                                <li><a href="#page002-2-7">体験学習</a></li>
                            </ul>
                        </dd>
                        <dt><a href="#page002-3">こども会で職業体験をするならキッザニアで</a></dt>
                    </dl>
                </div>

                <h2 id="page002-1" class="single__h2"><span>こども会のイベントを企画する際のポイント</span></h2>

                <div class="single__txt">
                    <p>こども会のイベントを企画する上では、こども達にとって有意義であるだけでなく、保護者にとって納得しやすいイベントであることが大切です。<br>本章では、企画する際のポイントについてご紹介します。
                    </p>
                </div>

                <h3 id="page002-1-1" class="single__h3">あらゆる年齢のこども達にとって有意義であること</h3>

                <div class="single__txt">
                    <p>ポイントの1つ目は、あらゆる年齢のこども達にとって有意義であることです。<br>
                        年齢の異なるこども達が集まるこども会活動では、どの年齢のこども達も興味を持っていて楽しむことができるイベントであれば、こども達は主体的に楽しむことができます。<br>
                        また、既にこども達が興味を持っていることだけでなく、経験したことがない機会を作ることや普段訪れることのない所へ行くことも、こども達にとっては有意義な機会になります。
                    </p>
                </div>

                <h3 id="page002-1-2" class="single__h3">保護者に納得してもらいやすいイベントであること</h3>

                <div class="single__txt">
                    <p>ポイントの2つ目は、保護者に納得してもらいやすいイベントであることです。<br>
                        大前提として、こども達にとって有意義であることが大切ですが、こども会の会費を出す保護者に、イベントの趣旨や目的を説明した際に納得してもらいやすいことも大切です。</p>

                    <p>その上では、「こども達の安全性は確保されているか」「参加費用は適切であるか」「こども達が有意義な体験ができるか」などの観点で保護者へ説明することも大切ですが、保護者がこども会に求めていることを把握することも大切です。
                    </p>
                    </p>
                </div>

                <h2 id="page002-2" class="single__h2"><span>こども会のイベントアイデア7選</span></h2>


                <div class="single__txt">
                    <p>本章では実際にこども会のイベントアイデアをご紹介します。<br>それぞれのアイデアのメリットとデメリットを紹介していますので、イベントを企画する際のアイデアとしてご覧ください。</p>
                </div>

                <h3 id="page002-2-1" class="single__h3">ゲーム</h3>

                <div class="single__txt">
                    <p>こども達にとって一番身近で楽しむことができるのはゲームです。<br>
                        特別な準備などが必要ないため、費用を抑えてイベントを実施したい場合はおすすめです。<br>
                        複数名で楽しむことができるゲームとしては、「宝探し」「ビンゴゲーム」「伝言ゲーム」などがあります。<br>
                        <br>
                        &lt;メリット&gt;<br>
                        ・比較的準備に費用がかからないため、予算を抑えて実施することができる<br>
                        &lt;デメリット&gt;<br>
                        ・ゲームだけの場合は盛り上がりに欠けることがあるため、ほかのイベントといっしょに実施することが望ましい
                    </p>
                </div>

                <h3 id="page002-2-2" class="single__h3">料理</h3>

                <div class="single__txt">
                    <p>室内で季節問わずに実施できるイベントに料理があります。<br>
                        最近では火や包丁を使わずにできる料理などもWeb上で紹介されているため、こども達のケガの心配もなく実施することができます。<br>
                        運動が得意ではないこどもも楽しむことができますが、こどもによっては関心を示さないこともあるため、参加者が何に興味を持っているか確認した上で企画することが大切になります。<br>
                        <br>
                        &lt;メリット&gt;<br>
                        ・運動が得意ではないこどもも楽しむことができる<br>
                        &lt;デメリット&gt;<br>
                        ・キッチンのある施設をレンタルする必要がある
                    </p>
                </div>

                <h3 id="page002-2-3" class="single__h3">スポーツ大会</h3>

                <div class="single__txt">
                    <p>運動が好きなこどもが多い場合は、スポーツ大会がおすすめです。<br>
                        スポーツ大会であれば、ドッジボール、バレーボール、バスケットボールなどの球技のほか、大縄跳びなども取り入れることができます。<br>
                        こども達は季節問わずに楽しむことができますが、気温が高い夏場は熱中症などの危険があるため、空調の効いた体育館を借りるなどの配慮が必要になります。<br>
                        <br>
                        &lt;メリット&gt;<br>
                        ・比較的準備に費用がかからないため、予算を抑えて実施できる<br>
                        &lt;デメリット&gt;<br>
                        ・ケガの恐れがある
                    </p>
                </div>

                <h3 id="page002-2-4" class="single__h3">アウトドア体験</h3>

                <div class="single__txt">
                    <p>普段自然に触れ合う機会がない場合は、キャンプやバーベキューなどで自然と触れ合うことができるアウトドア体験がおすすめです。<br>
                        最近では施設側が必要な備品を用意してくれる場所もあるため、必要な備品を新たに購入することなく実施することができます。<br>
                        <br>
                        &lt;メリット&gt;<br>
                        ・こども達で協力しながら体験する機会を作ることができる<br>
                        &lt;デメリット&gt;<br>
                        ・場所によっては遠出になってしまうため、移動手段や移動にかかる費用や時間を考慮する必要がある
                    </p>
                </div>

                <h3 id="page002-2-5" class="single__h3">鑑賞会</h3>

                <div class="single__txt">
                    <p>映画やミュージカル鑑賞は天候や季節に関係なくできるイベントです。<br>
                        話題の映画やミュージカルだけでなく、普段こども達の間で鑑賞することがない作品を鑑賞することも、こども達の興味の幅を広げ、心を豊かにする有意義な機会になります。<br>
                        <br>
                        &lt;メリット&gt;<br>
                        ・こども達にとって楽しみながら、興味の幅を広げることができる<br>
                        &lt;デメリット&gt;<br>
                        ・長時間椅子に座り続けることが苦手なこどもにとっては長時間の鑑賞が苦痛になる可能性がある
                    </p>
                </div>

                <h3 id="page002-2-6" class="single__h3">地域交流</h3>

                <div class="single__txt">
                    <p>こども会だけでイベントを行うのではなく、地域のお祭りに参加するなど地域コミュニティに参加しながらイベントを実施する方法もあります。<br>
                        こども達と保護者の間だけのコミュニティではなく、地域の方とも交流する機会となるため、こども達にとって新たな発見をすることができます。<br>
                        またここでの交流から、新たなイベント企画のヒントを得ることもできるかもしれません。<br>
                        <br>
                        &lt;メリット&gt;<br>
                        ・普段交流することがないコミュニティの方と交流を図れる機会を作れる<br>
                        &lt;デメリット&gt;<br>
                        ・地域行事は常時開催されていないため、日程調整が必要になる
                    </p>
                </div>

                <h3 id="page002-2-7" class="single__h3">体験学習</h3>

                <div class="single__txt">
                    <p>体験学習もこども達が楽しむことができるイベントとしておすすめです。<br>
                        工作から工芸品などの制作を行う体験教室から、職業体験などさまざまなものがあります。<br>
                        体験学習では現場でこども達に先生やインストラクターがついてくれることが多いため、保護者の引率ができない場合でも安心して利用できます。<br>
                        <br>
                        &lt;メリット&gt;<br>
                        ・普段では経験できない体験ができるため、こども達の興味を広げるきっかけになる<br>
                        &lt;デメリット&gt;<br>
                        ・施設によっては予約が取りづらいこともあるため、早めに予約をする必要がある
                    </p>
                </div>

                <h2 id="page002-3" class="single__h2"><span>こども会で職業体験をするならキッザニアで</span></h2>

                <div class="single__txt">
                    <p>キッザニアは、こども達がさまざまな仕事やサービスを体験できる、職業・社会体験施設です。<br>
                        キッザニア東京・甲子園では約100種類、キッザニア福岡では約70種類の仕事やサービスの体験ができるため、一人ひとりの興味関心に合わせた体験をすることができます。また実際に働いた後はキッザニアの専用通貨でもらったお給料を使ってサービスを受けることもできるため、社会の仕組みや経済活動の基本を学ぶこともできます。</p>
                        
                    <p>季節や天候を問わず、こども達が楽しむことができ、将来や仕事について考えることができるキッザニアでの職業体験は、こども会のイベントとしてもおすすめです。<br>
                        こども会などの団体の方には、さまざまな団体予約ならではの特典もご用意しております。<br>
                        こども会のイベントで職業体験を実施して、有意義なイベントにしたいとお考えの方はぜひ、下記より資料をダウンロードください。</p>
                </div>


                <!-- 記事詳細下部お役立ち資料 -->
                <div class="useful">
                    <h3 class="single__ttl">資料ダウンロード</h3>
                    <div class="item">
                        <div class="flex aiC">
                            <figure class="item__img"><img src="../assets/img/column/general.png" alt=""></figure>
                            <summary class="item__box">
                                <div class="item__box--ttl">キッザニア｜一般団体向け資料</div>
                            </summary>
                        </div>
                        <a href="../catalog/catalog-general.html" class="more"><span>資料ダウンロード</span></a>
                    </div>
                </div>
            </article>

            <!-- サイドメニュー -->
            <aside class="side-nav">

                <a href="../reserve.html" class="bnr-contact"><img src="../assets/img/column/bnr-reserve.png" alt=""></a>

                <div class="ctabtn">
                    <div class="balloon"><span class="balloon__txt">キッザニアについて知りたい方はこちら</span></div>
                </div>

                <a href="../catalog/catalog-school.html" class="bnr-catalog"><img
                        src="../assets/img/column/bnr-catalog-school.png" alt=""></a>
                <a href="../catalog/catalog-general.html" class="bnr-catalog"><img
                        src="../assets/img/column/bnr-catalog-general.png" alt=""></a>
            </aside>

        </div>
    </section>
</main>

{% endblock %}